<div id="toolbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('behatviewer.homepage') }}">Behat Viewer <span class="title">{% if project != '' and project.name %}[{{ project.name }}]{% endif %}</span></a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="{{ path('behatviewer.homepage') }}">Home</a></li>
                    <li><a href="{{ path('behatviewer.history') }}">History</a></li>
                    <li><a href="{{ path('behatviewer.stats') }}">Stats</a></li>
                    <li><a href="{{ path('behatviewer.definitions') }}">Definitions</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('behatviewer.config') }}">Config</a></li>
                    {% endif %}
                    <li><a href="{{ path('behatviewer.help') }}">Help</a></li>
                    <li>
                        <div id="loader"></div>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    {% if lastbuild and lastbuild != build.id %}
                        <li>
                            <button href="{{ path('behatviewer.historyentry', {'id': lastbuild}) }}" class="btn btn-primary">Last build &raquo;</button>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown" data-rel="usermenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Logged in as <span data-rel="username">{% if app.user %}{{ app.user.username }}{% endif %}</span>
                                <img data-rel="avatar" data-size="24" class="gravatar" src="{% if app.user %}{{ app.user.email|gravatar(24)}}{% endif %}" />
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="{{ path('behatviewer.profile') }}">Profile</a></li>
                              <li><a href="{{ path('behatviewer.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li data-rel="login">
                            <a href="{{ path('behatviewer.login') }}">Log in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
