{% extends 'BehatViewerBundle::layout.html.twig' %}

{% set scenarios = feature.getScenariosCount %}

{% set passed = feature.getPassedScenariosCount %}
{% set passedpcnt = ((passed / scenarios) * 100)|round %}

{% set failed = feature.getFailedScenariosCount %}
{% set failedpcnt = ((failed / scenarios) * 100)|round %}

{% block container %}
<h1 class="page-header">
    {{ feature.name }}
    {% if build %}
        <small>(#{{ build.id }} Built on {{ build.date|date("Y-m-d \\a\\t H:i:s")}})</small>
    {% endif %}

    {% include 'BehatViewerBundle::Feature/switcher.html.twig' %}

    {% if feature.tags|count %}
        <br/>
        {% for tag in feature.tags %}
            <a data-action="navig" href="{{ path("behatviewer.tag", {slug: tag.slug}) }}" class="label label-info"> {{ tag.name }} </a>
        {% endfor %}
    {% endif %}
</h1>
<div class="row-fluid">
    <div class="fix-scroll span3">
        {% block sidebar %}
            {% include "BehatViewerBundle::Feature/sidebar.html.twig" %}
        {% endblock %}
    </div>
    <div class="span9">
        {% for scenario in feature.scenarios %}
            {% include "BehatViewerBundle::Feature/scenario.html.twig" %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}
    {% if xhr %}
        <script type="text/javascript">
            JSC.require('controller/feature');
        </script>
    {% endif %}
{% endblock %}
