{% extends 'BehatViewerBundle::layout.html.twig' %}

{% block container %}
<h1 class="page-header">
    {{ feature.name }} {% if build %}
    <small>(#{{ build.id }} Built on {{ build.date|date("Y-m-d \\a\\t H:i:s")}})</small>
    {% endif %}

    {% include 'BehatViewerBundle::Feature/switcher.html.twig' %}
</h1>
<div class="row-fluid">
    {% if source %}
    <pre class="prettyprint linenums lang-feature">{{ source }}</pre>
    {% else %}
    <div class="alert alert-danger alert-block">
        <h4 class="alert-heading">Error</h4>

        <p>The file {{ feature.getFile() }} is not accessible.</p>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
    {% if xhr %}
        <script type="text/javascript">
            JSC.require(
                'behat-viewer/feature-source',
                function() {
                    var c = new FeatureSourceController('#container');
                    app.controller.current(c);
                    //$(window).on('loadComplete', function () { c.complete(); $(window).off('loadComplete', this); });
                }
            );
        </script>
    {% endif %}
{% endblock %}
