{% extends 'BehatViewerBundle::layout.html.twig' %}

{% block notification %}
    {% if success %}
        <div class="alert alert-block alert-success" data-rel="notification" data-type="success">Your profile was successfully saved.</div>
    {% endif %}
{% endblock %}

{% block container %}
<form action="{{ path('behatviewer.profile') }}" method="post" class="form-horizontal">
    <div style="background-color: #888; border: none;" class="well modal-example">
        <div style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%;" class="modal">
            <div class="modal-header">
                <h3>
                    <img data-rel="avatar" data-size="48" class="gravatar" src="{{ app.user.email|gravatar(48)}}" />
                    <span data-rel="username">{{ app.user.username }}</span>
                </h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="User_username">Username</label>
                    <div class="controls">
                        {{ form_widget(form.username, {'attr': {'class': 'input-xlarge', 'placeholder': 'johndoe'}}) }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="User_email">E-mail</label>
                    <div class="controls">
                        {{ form_widget(form.email, {'attr': {'class': 'input-xlarge', 'placeholder': 'john@doe.com'}}) }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="User_password">Password</label>
                    <div class="controls">
                        {{ form_widget(form.password, {'attr': {'class': 'input-xlarge' }}) }}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="confirm">Confirm</label>
                    <div class="controls">
                        <input type="password" id="confirm" name="confirm" class="input-xlarge" />
                    </div>
                </div>

                {{ form_rest(form) }}
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        JSC.require(
            ['behat-viewer/profile'],
            function() {
                $(function() {
                    app.controller.current(new ProfileController('#container'));
                });
            }
        );
    </script>
{% endblock %}
