{% extends 'BehatViewerBundle::layout.table.html.twig' %}

{% block title %}
    <h1 class="page-header">
        Builds for {{ project.name }}
        {% if pages > 1 %}
            <small>Page {{ current }}/{{ pages }}</small>
        {% endif %}
    </h1>
{% endblock %}

{% block before %}
    {% if is_granted('ROLE_USER') %}
        <form method="post" action="{{ path('behatviewer.historydeletesel') }}">
    {% endif %}
{% endblock %}

{% block sort %}{sortlist: [[1,1]]}{% endblock %}

{% block thead %}
    <tr>
        {% if is_granted('ROLE_USER') %}
            <th class="{sorter: false}"><input type="checkbox" /></th>
        {% endif %}
        <th>#</th>
        <th>Date</th>
        <th>Completion</th>
        <th>Progress</th>
        <th>Details</th>
        <th class="{sorter: false}">Action</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for build in items %}
        {% include 'BehatViewerBundle::History/build-row.html.twig' %}
    {% endfor %}
{% endblock %}

{% block after %}
    {% if is_granted('ROLE_USER') %}
        <div class="btn-group">
            <button type="submit" class="btn btn-danger"><i class="icon-trash"></i> Delete selected</button>
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        </form>
    {% endif %}

    {% if pages > 1 %}
        <div id="content-nav" class="pagination pagination-centered menu">
            <ul>

                <li class="prev{% if current == 1 %} disabled{% endif %}"><a href="{{ path("behatviewer.historypage", {page: current - 1}) }}" title="Previous">«</a></li>
                {% for i in range(1, pages) %}
                <li{% if i == current %} class="active"{% endif %}><a href="{{ path("behatviewer.historypage", {page: i}) }}">{{ i }}</a></li>
                {% endfor %}
                <li class="next{% if current == pages %} disabled{% endif %}"><a href="{{ path("behatviewer.historypage", {page: current + 1}) }}" title="Next">»</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block alert %}
    <div class="alert alert-info alert-block">
        <h4 class="alert-heading">No build</h4>

        <p>
            This project has not been built yet.
            To build it, please run <code>app/console behat-viewer:build {{ project.slug }}</code>.
        </p>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        JSC.require(
            ['jquery.metadata', 'jquery.tablesorter', 'behat-viewer/build'],
            function() {
              $(function() {
                  app.controller.current(new BuildController('#container'));
              });
            }
        );
    </script>
{% endblock %}
