{% set steps = feature.getStepsHavingStatusCount() %}

{% if steps > 0 %}
{% set passed = feature.getStepsHavingStatusCount('passed') %}
{% set passedpcnt = ((passed / steps) * 100)|round(3) %}

{% set failed = feature.getStepsHavingStatusCount('failed') %}
{% set failedpcnt = ((failed / steps) * 100)|round(3) %}

{% set skipped = feature.getStepsHavingStatusCount('skipped') %}
{% set skippedpcnt = ((skipped / steps) * 100)|round(3) %}

{% set undefined = feature.getStepsHavingStatusCount('undefined') %}
{% set undefinedpcnt = ((undefined / steps) * 100)|round(3) %}

{% set pending = feature.getStepsHavingStatusCount('pending') %}
{% set pendingpcnt = ((pending / steps) * 100)|round(3) %}
{% endif %}

<tr class="navig" data-action="details">
    <td><strong>{{ feature.name }}</strong></td>
    <td style="width: 10%">{% if steps > 0 %}{{ passedpcnt|round }}{% else %}0{% endif %}%</td>
    <td style="min-width: 250px; width: 25%" data-value="{% if steps > 0 %}{{ passedpcnt|round }}{% else %}0{% endif %}">
        <div class="progress">
            {% if steps > 0 %}
            {% if passed > 0 %}
            <div class="bar progress-success" style="width: {{ passedpcnt }}%;"></div>
            {% endif %}
            {% if failed > 0 %}
            <div class="bar progress-danger" style="width: {{ failedpcnt }}%;"></div>
            {% endif %}
            {% if skipped + pending > 0 %}
            <div class="bar progress-info" style="width: {{ skippedpcnt + pendingpcnt }}%;"></div>
            {% endif %}
            {% if undefined > 0 %}
            <div class="bar progress-warning" style="width: {{ undefinedpcnt }}%;"></div>
            {% endif %}
            {% endif %}
        </div>
    </td>
    <td data-value="{{ steps }}">
        <ul class="pull-left">
            {% if steps > 0 %}
            {% if passed > 0 %}
            <li><span class="success" style="color: #62C462; font-weight: bold">Passed: {{ passed }}/{{ steps }} ({{ passedpcnt|round }}%)</span>
            </li>
            {% endif %}
            {% if failed > 0 %}
            <li><span class="danger" style="color: #EE5F5B; font-weight: bold">Failed: {{ failed }}/{{ steps }} ({{ failedpcnt|round }}%)</span>
            </li>
            {% endif %}
            {% if skipped > 0 %}
            <li><span class="info" style="color: #5BC0DE; font-weight: bold">Skipped: {{ skipped }}/{{ steps }} ({{ skippedpcnt|round }}%)</span>
            </li>
            {% endif %}
            {% if pending > 0 %}
            <li><span class="info" style="color: #5BC0DE; font-weight: bold">Pending: {{ pending }}/{{ steps }} ({{ pendingpcnt|round }}%)</span>
            </li>
            {% endif %}
            {% if undefined > 0 %}
            <li><span class="warning" style="color: #FBB450; font-weight: bold">Undefined: {{ undefined }}/{{ steps }} ({{ undefinedpcnt|round }}%)</span>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </td>
    <td class="action">
        <a data-action="details" class="btn" href="{{ path('behatviewer.feature', {'id': feature.id, 'slug':feature.slug}) }}"
           data-action="details">Details &raquo;</a>
    </td>
</tr>
