{% extends 'BehatViewerBundle::layout.table.html.twig' %}

{% block title %}
    <h1 class="page-header">
        Definitions for {{ project.name }}
    </h1>
{% endblock %}

{% block thead %}
    <tr>
        <th>Step</th>
        <th>Context</th>
        <th>Description</th>
    </tr>
    <tr>
        <th>
            <input type="text" id="search" class="search-query" style="width: 80%" placeholder="Search through definitions..."/>
        </th>
        <th>
            <select id="contexts" style="width: 80%" multiple="">
                {% for context in contexts %}
                    <option value="{{ context.context }}">{{ context.context }}</option>
                {% endfor %}
            </select>
        </th>
        <th></th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for definition in items %}
        <tr>
            <td style="width: 60%" class="snippet" data-search="{{ definition.snippet|clean }}">
                <strong>{{ definition.snippet }}</strong>
            </td>
            <td style="width: 10%" class="context">{{ definition.context }}::{{ definition.method }}</td>
            <td style="width: 30%">{{definition.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block alert %}
    <div class="alert alert-info">
        <h4 class="alert-heading">No definitions</h4>

        <p>
            No step definition found. To load definitions from your context library, please run
            <code>app/console behat-viewer:definitions {% if project.slug %}{{ project.slug }}{% else %}foo-bar{% endif %}</code>.
        </p>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
      JSC.require(
          ['jquery.metadata', 'jquery.tablesorter', 'behat-viewer/definitions'],
          function() {
              $(function() {
                  app.controller.current(new DefinitionsController('#container'));
              });
          }
      );
    </script>
{% endblock %}
